			h1 {
				background-color: #ffff00;
				margin-left: 20%;
			}

			h2 {
				text-decoration: underline;
				font-family: sans-serif;
				font-size: 2rem;
			}

			img {
				margin-left: 20%;
				display: block;
			}
			
			p {
				font-size: 1.2rem;
				color: #0000ff;
				margin-left: 10%;
				font-weight: bolder;
			}
		/* ids need a hashtag (#) */
			#div1 {
				color: #551a8b;
			}

		/* Class needs a period (.) */
			.class1 {
				background-color: #FFC0CB;
			}